.ActiveWindow,
.Border,
.Button,
.ButtonDownBorder,
.ButtonUpBorder,
.Field,
.FieldBorder,
.Grouping,
.GroupingBorder,
.StatusField,
.StatusFieldBorder,
.TextBox,
.ThinButton,
.ThinButtonDownBorder,
.ThinButtonUpBorder,
.WellBorder,
.Window,
.WindowBorder,
.WindowTitleButton {
  --border-width: calc(var(--css95-scale-value) * 1);
  --border-width-negative: calc(var(--css95-scale-value) * -1);
  --border-width-double: calc(var(--css95-scale-value) * 2);
  --border-width-double-negative: calc(var(--css95-scale-value) * -2);
  --css95-border-padding: calc(var(--border-width) * 3);

  padding: var(--css95-border-padding);

  box-shadow:
    inset var(--border-width-negative) var(--border-width-negative)
      var(--css95-bottomRightOuter),
    inset var(--border-width) var(--border-width) var(--css95-topLeftOuter),
    inset var(--border-width-double-negative)
      var(--border-width-double-negative) var(--css95-bottomRightInner),
    inset var(--border-width-double) var(--border-width-double)
      var(--css95-topLeftInner);

  &:is(.SmallSpacing, .MediumSpacing, .LargeSpacing) {
    padding: calc(var(--css95-border-padding) + var(--css95-spacing-padding));
  }
}

.Button,
.ButtonUpBorder,
.WindowTitleButton {
  --css95-topLeftOuter: var(--css95-color-borderLightest);
  --css95-topLeftInner: var(--css95-color-borderLight);
  --css95-bottomRightInner: var(--css95-color-borderDark);
  --css95-bottomRightOuter: var(--css95-color-borderDarkest);
}

.Button:active,
.ButtonDownBorder,
.WindowTitleButton:active {
  --css95-topLeftOuter: var(--css95-color-borderDarkest);
  --css95-topLeftInner: var(--css95-color-borderDark);
  --css95-bottomRightInner: var(--css95-color-borderLight);
  --css95-bottomRightOuter: var(--css95-color-borderLightest);
}

.Field,
.FieldBorder,
.TextBox,
.Well,
.WellBorder {
  --css95-topLeftOuter: var(--css95-color-borderDark);
  --css95-topLeftInner: var(--css95-color-borderDarkest);
  --css95-bottomRightInner: var(--css95-color-borderLight);
  --css95-bottomRightOuter: var(--css95-color-borderLightest);
}

.Grouping,
.GroupingBorder {
  --css95-topLeftOuter: var(--css95-color-borderDark);
  --css95-topLeftInner: var(--css95-color-borderLightest);
  --css95-bottomRightInner: var(--css95-color-borderDark);
  --css95-bottomRightOuter: var(--css95-color-borderLightest);
}

.StatusField,
.StatusFieldBorder {
  --css95-topLeftOuter: var(--css95-color-borderDark);
  --css95-topLeftInner: transparent;
  --css95-bottomRightInner: transparent;
  --css95-bottomRightOuter: var(--css95-color-borderLightest);
}

.ThinButton,
.ThinButtonUpBorder {
  --css95-topLeftOuter: var(--css95-color-borderLightest);
  --css95-topLeftInner: transparent;
  --css95-bottomRightInner: transparent;
  --css95-bottomRightOuter: var(--css95-color-borderDark);
}

.ThinButton:active,
.ThinButtonDownBorder {
  --css95-topLeftOuter: var(--css95-color-borderDark);
  --css95-topLeftInner: transparent;
  --css95-bottomRightInner: transparent;
  --css95-bottomRightOuter: var(--css95-color-borderLightest);
}

.ActiveWindow,
.Window,
.WindowBorder {
  --css95-topLeftOuter: var(--css95-color-borderLight);
  --css95-topLeftInner: var(--css95-color-borderLightest);
  --css95-bottomRightInner: var(--css95-color-borderDark);
  --css95-bottomRightOuter: var(--css95-color-borderDarkest);
}
