.Button,
.ThinButton,
.WindowTitleButton {
  --css95-button-padding-inline: calc(var(--css95-scale-value) * 12);
  --css95-button-padding-shift: var(--css95-scale-value);

  min-height: var(--css95-button-height);
  padding-block: var(--css95-border-padding);
  padding-inline: calc(
    var(--css95-border-padding) + var(--css95-button-padding-inline)
  );
  background-color: var(--css95-color-material);

  &:active {
    padding-block: calc(
        var(--css95-border-padding) + var(--css95-button-padding-shift)
      )
      calc(var(--css95-border-padding) - var(--css95-button-padding-shift));
    padding-inline: calc(
        var(--css95-border-padding) + var(--css95-button-padding-inline) +
          var(--css95-button-padding-shift)
      )
      calc(
        var(--css95-border-padding) + var(--css95-button-padding-inline) -
          var(--css95-button-padding-shift)
      );
  }
}

button:is(.Button, .ThinButton, .WindowTitleButton) {
  display: inline-block;
  appearance: none;
  border: none;
}
