.Field,
.TextBox {
  min-height: calc(var(--css95-scale-value) * 21);
  padding: var(--css95-border-padding);
  background-color: var(--css95-color-canvas);

  &:is(.SmallSpacing, .MediumSpacing, .LargeSpacing) {
    padding: calc(var(--css95-spacing-padding) + var(--css95-border-padding));
  }
}
