.Gap,
.SmallGap,
.SmallSpacing,
.MediumGap,
.MediumSpacing,
.LargeGap,
.LargeSpacing {
  gap: var(--css95-spacing-gap);
}

.Gap,
.SmallGap,
.SmallSpacing {
  --css95-spacing-gap: calc(var(--css95-scale-value) * 6);
}

.MediumGap,
.MediumSpacing {
  --css95-spacing-gap: calc(var(--css95-scale-value) * 12);
}

.LargeGap,
.LargeSpacing {
  --css95-spacing-gap: calc(var(--css95-scale-value) * 18);
}

.SmallSpacing,
.MediumSpacing,
.LargeSpacing {
  --css95-spacing-padding: var(--css95-spacing-gap);
  padding: var(--css95-spacing-gap);
}
